<h1>Welcome to <em><%= @band.name() %>'s</em> Home Page</h1>


<% if @band.venues().any?() %>
  <h3><%= @band.name() %> has played at</h3>
  <ul>
    <% @band.venues().each do |venue| %>
      <%= venue.name() %>
    <% end %>
  </ul>


<% end %>

<a href="/band_edit/<%= @band.id()%>"><button class="btn btn-warning">Edit <%= @band.name()%> and It's Concerts</button></a>

<br><br>

<a href="/" ><button type="button" class="btn btn-link">Back To Home Page</button></a>
